<?xml version="1.0"?>
<config>
    <modules>
        <DEG_OrderLifecycle>
            <version>1.0.0</version>
        </DEG_OrderLifecycle>
    </modules>
    <global>
        <helpers>
            <deg_orderlifecycle>
                <class>DEG_OrderLifecycle_Helper</class>
            </deg_orderlifecycle>
        </helpers>
        <models>
            <deg_orderlifecycle>
                <class>DEG_OrderLifecycle_Model</class>
            </deg_orderlifecycle>
        </models>
        <events>
            <lifecycle_event>
                <observers>
                    <lifecycle_event_to_registry>
                        <class>deg_orderlifecycle/observer</class>
                        <method>lifecycleEventToRegistry</method>
                    </lifecycle_event_to_registry>
                </observers>
            </lifecycle_event>
            <sales_order_save_commit_after>
                <observers>
                    <order_saved_event_flush>
                        <class>deg_orderlifecycle/observer</class>
                        <method>orderSavedEventFlush</method>
                    </order_saved_event_flush>
                </observers>
            </sales_order_save_commit_after>
            <sales_order_invoice_save_commit_after>
                <observers>
                    <invoice_saved_event_flush>
                        <class>deg_orderlifecycle/observer</class>
                        <method>invoiceSavedEventFlush</method>
                    </invoice_saved_event_flush>
                </observers>
            </sales_order_invoice_save_commit_after>
            <sales_order_payment_save_commit_after>
                <observers>
                    <payment_saved_event_flush>
                        <class>deg_orderlifecycle/observer</class>
                        <method>paymentSavedEventFlush</method>
                    </payment_saved_event_flush>
                </observers>
            </sales_order_payment_save_commit_after>
            <sales_order_save_after>
                <observers>
                    <order_saved_after_lifecycle_event>
                        <class>deg_orderlifecycle/hooks</class>
                        <method>orderAfterSaveLifecycleEvent</method>
                    </order_saved_after_lifecycle_event>
                </observers>
            </sales_order_save_after>

        </events>
    </global>
    <default>
        <sales>
            <order_lifecycle>
                <adapter>deg_orderlifecycle/write_adapter_order_history</adapter>
            </order_lifecycle>
        </sales>
    </default>
</config>