<?xml version="1.0"?>

<config>

    <sections>
        <sales>
            <groups>
                <order_lifecycle translate="label">
                    <label>Order Lifecycle</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <adapter translate="label comment">
                            <label>Event Writing Adapter</label>
                            <comment>Controls how/where the event is written.</comment>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>deg_orderlifecycle/system_config_source_adapter</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </adapter>
                        <post_url translate="label comment">
                            <label>JSON Post Url</label>
                            <sort_order>20</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <adapter>deg_orderlifecycle/write_adapter_json_post</adapter>
                            </depends>
                        </post_url>
                    </fields>
                </order_lifecycle>
            </groups>
        </sales>
    </sections>
</config>
